<div id="names-map" class="full-screen">
  <svg id="name-map-graph" width="1000" height="600"></svg>
</div>
<script>
$(function() {
    var mapData,
        rawData,
        svg = d3.select("#name-map-graph"),
        margin = {top: 20, right: 20, bottom: 30, left: 50},
        width = svg.attr("width") - margin.left - margin.right,
        height = svg.attr("height") - margin.top - margin.bottom;

    var projection = d3.geoAlbersUsa();
    var path = d3.geoPath()
        .projection(projection);

    var scale = d3.scaleLinear().range([0, 1]),
        color = d3.interpolateRgb('white', 'steelblue');

    var g = svg.append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    d3.json('/data/names/us.json', function(data) {
      mapData = data;

      var states = g.selectAll('.state')
          .data(topojson.feature(mapData, mapData.objects.states).features)

      states.enter()
        .append('path')
        .attr('class', 'state')
        .attr('fill', '#fff')
        .attr('stroke', '#ccc')
        .attr('d', path);

      d3.csv('/data/names/names_by_state.csv', function(data) {
        rawData = data;
        var groups = _.groupBy(data, function(d) { return d.name });
        var groupsToState = {}
        _.each(groups, function(states, name) {
          groupsToState[name] = _.groupBy(states, function(d) { return d.state });
        });

        var selectedName = 'Claire';
        // Update scale for name
        scale.domain([0, d3.max(groups[selectedName], function(d) { return d.percentage })])

        // Update all the colors in the map
        d3.selectAll('.state')
          .attr('fill', function(d) {
            if (!groupsToState[selectedName] ||
                !groupsToState[selectedName][d.properties.STUSPS]
              ) {
              return '#fff'
            }
            return color(scale(+groupsToState[selectedName][d.properties.STUSPS][0].percentage));
          });


      });
    })
});
</script>
