<input type="text" id="query" placeholder="Type a name"/>
<div id="names-main" class="full-screen">
  <svg width="1000" height="600"></svg>
</div>
<script>
$(function() {
    var svg = d3.select("svg"),
        tip,
        margin = {top: 20, right: 20, bottom: 30, left: 50},
        width = svg.attr("width") - margin.left - margin.right,
        height = svg.attr("height") - margin.top - margin.bottom;

    var x = d3.scaleLinear().range([0, width]),
        y = d3.scaleLinear().domain([0, 1]).range([height, 0]),
        z = d3.scaleOrdinal(d3.schemeCategory20c);

    var stack = d3.stack();

    var yAxis = d3.axisLeft(y).ticks(10, "%")

    var area = d3.area()
        .x(function(d, i) {
          return x(d.data.year);
        })
        .y0(function(d) {
          return y(d[0]);
        })
        .y1(function(d) {
          return y(d[1]);
        });

    tip = d3.tip().attr('class', 'd3-tip').html(function(d) {
        return d.key;
    });

    x.domain(['1950', '2005'])
    var g = svg.append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    var keys, transformed, totalPercentages, groups;
    d3.csv('/data/names/names_final.csv', function(data) {
      rawData = data;
      totalPercentages = {};

      keys = _.uniq(_.map(data, function(d) { return d.name }));
      groups = _.groupBy(data, function(d) { return d.year })
      _.each(groups, function(values, year) {
        totalPercentages[year] = _.reduce(values, function(memo, d) {
          return memo + +d.percentage
        }, 0);
      });

      z.domain(keys);
      stack.keys(keys);

      transformed = transform(data, keys);

      g.append("g")
          .attr("class", "axis axis--x")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x));

      g.append("g")
          .attr("class", "axis axis--y")
          .call(yAxis);

      update(transformed)

    })

    function update(data) {

      var t = d3.transition()
        .duration(750);

      var stackData = stack(data);
      var lastRow = stackData[stackData.length - 1];
      var yDomain = 1;
      if (lastRow) {
        yDomain = d3.max(lastRow, function(d) { return d[1] });
      }
      y.domain([0, yDomain]);


      // JOIN new data with old elements.
      var layer = g.selectAll(".area")
        .data(stackData, function(d, i) {
            return d.key;
        });

      // UPDATE old elements present in new data.
      layer
        .transition(t)
          .attr("d", area)
      // ENTER new elements present in new data.
      layer.enter()
        .append('path')
        .attr('class', 'area')
      .transition(t)
        .style("fill", function(d) { return z(d.key); })
        .attr("d", area);

      layer.exit()
          .remove()

      d3.selectAll('.area')
        .call(tip)
        .on('mouseover', tip.show)
        .on('mouseout', tip.hide)
        .on('click', function(d) {
            var data = transform(rawData, keys, d.key, true);
            update(data);
        });

      d3.select('.axis--y')
        .transition(t)
          .call(yAxis);

    }

    function transform(data, keys, query, exact) {
      var transform = {};
      var zeros = _.map(keys, function() { return 0 })
      _.each(groups, function(values, key) {
          transform[key] = _.object(keys, zeros);
          transform[key].year = key;
          values = _.filter(values, function(d) {
            if (query && !exact) {
              return d.name.toLowerCase().startsWith(query.toLowerCase());
            } else if (query && exact) {
              return d.name.toLowerCase() === query.toLowerCase();
            }
            return true;
          });

          _.each(values, function(v) {
              transform[key][v.name] = (+v.percentage / totalPercentages[key]);
          });
      });
      return _.values(transform);
    }

    $('#query').on('keyup', function(e) {
        var value = $(e.currentTarget).val();
        var data = transform(rawData, keys, value);
        update(data);
    });
});
</script>
