<span>Color by&nbsp;</span>
<select id="color-by">
  <option value="equality" selected="selected">Life expectancy equality</option>
  <option value="gender">Gender</option>
  <option value="election">2016 election results</option>
</select>
<div id="life-main" class="full-screen">
  <div style="height: 20px;" id="distance-info"></div>
  <svg id="life-graph" width="800" height="800"></svg>
</div>
<script>
$(function() {
    var svg = d3.select("#life-graph"),
        maxDiff,
        render,
        transformed,
        votesByCounty,
        colorBy = 'equality'
        margin = {top: 20, right: 20, bottom: 60, left: 60},
        width = svg.attr("width") - margin.left - margin.right,
        height = svg.attr("height") - margin.top - margin.bottom;

    var restingOpacity = 0.3
    var voronoi = d3.voronoi()
        .x(function(d) { return x(d.q1LifeExpectancy); })
        .y(function(d) { return y(d.q4LifeExpectancy); })
        .extent([[-margin.left, -margin.top], [width + margin.right, height + margin.bottom]]);

    var x = d3.scaleLinear().range([0, width]).domain([70, 95]);
    var y = d3.scaleLinear().range([height, 0]).domain([70, 95]);
    var r = d3.scaleSqrt().range([3, 15])
    var colors ={
      election: function(d) {
          if (votesByCounty[d.fips]) {
            return d3.interpolateRdBu(
              +votesByCounty[d.fips][0].Hillary_Clinton / +votesByCounty[d.fips][0].total_votes
            );
          }
          return '#eee';
      },
      equality: function(d) {
        var value = Math.abs(d.q1LifeExpectancy - d.q4LifeExpectancy) / maxDiff;
        return d3.interpolateRdYlGn(1 - value);
      },
      gender: function(d) {
        return d.gender === 'F' ? Colors.PINK : Colors.GREEN;
      },
    };


    var g = svg.append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var voronoiGroup = g.append("g")
      .attr("class", "voronoi");

    render = function(err, data, electionData) {
      transformed = transform(data);
      votesByCounty = _.groupBy(electionData, 'fips');
      maxDiff = d3.max(transformed, function(d) { return Math.abs(d.q1LifeExpectancy - d.q4LifeExpectancy); })

      r.domain(d3.extent(transformed, function(d) { return d.count }))
      update(transformed);

      voronoiGroup.selectAll("path")
          .data(voronoi.polygons(transformed))
          .enter().append("path")
          .attr("d", function(d) { return d ? "M" + d.join("L") + "Z" : null; })
          .style('fill-opacity', 0)
          .on('mouseover', function(d) {
             d3.select('.' + getClassName(d.data))
                .style('fill-opacity', 1)
                .style('stroke', Colors.BLACK)
                .raise()
             drawDistanceLine(d.data);

          })
          .on('mouseout', function(d) {
             d3.select('.' + getClassName(d.data))
                .style('fill-opacity', restingOpacity)
                .style('stroke', '#eee')
             d3.selectAll('.le-distance').remove()
             $('#distance-info').text('')
          });

      g.append("g")
          .attr("class", "axis axis--x")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x).tickFormat(function(d) { return d }))

      g.append('text')
          .text('Year')
          .attr('x', width / 2)
          .attr('y', y(y.domain()[0]) + margin.bottom - 20)
          .attr('font-size', '16px')
          .attr('text-anchor', 'middle')
          .attr('dy', '0.8em')
          .text('Life expectancy for bottom quartile income earners')

      g.append("g")
          .attr("class", "axis axis--y")
          .call(d3.axisLeft(y).tickFormat(function(d) { return d }));

      g.append('text')
          .text('Life expectancy for top quartile income earners')
          .attr('x', -margin.left)
          .attr('y', height / 2)
          .attr('transform', 'rotate(-90, ' + -margin.left + ',' + height / 2 + ')')
          .attr('font-size', '16px')
          .attr('text-anchor', 'middle')
          .attr('dy', '1.2em')

      g.append('line')
        .attr('x1', function(d) { return x(x.domain()[0]); })
        .attr('y1', function(d) { return y(y.domain()[0]); })
        .attr('x2', function(d) { return x(x.domain()[1]); })
        .attr('y2', function(d) { return y(y.domain()[1]); })
        .attr('stroke', function(d) { return d3.interpolateRdYlGn(1); });

      g.append('text')
        .attr('x', function(d) { return x(x.domain()[1]) - 250; })
        .attr('y', function(d) { return y(y.domain()[1]); })
        .attr('fill', function(d) { return d3.interpolateRdYlGn(1); })
        .attr('transform', 'rotate(-45, ' + (x(x.domain()[1])) + ',' + y(y.domain()[1]) + ')')
        .style('font-size', '20px')
        .text('Equality in life expectancy')

    };

    var update = function(data) {
      var layer = g.selectAll('.le-circle')
        .data(data, function(d) { return d.fips + d.gender; });

      var t = d3.transition()
        .duration(500);

      layer
        .transition(t)
          .delay(function(d, i) { return i / 5; })
          .style('fill', function(d) {
              return colors[colorBy](d);
          })

      layer.enter()
        .append('circle')
        .style('pointer-events', 'none')
        .style('fill-opacity', restingOpacity)
        .style('stroke', function(d) { return '#eee'; })
        .style('stroke-width', function(d) { return '0.2px'; })
        .style('fill', function(d) {
            return colors[colorBy](d);
        })
        .attr('class', function(d) {
          return [
            'le-circle',
            d.county,
            getClassName(d),
          ].join(' ');
        })
        .attr('cx', function(d) {
          return x(d.q1LifeExpectancy);
        })
        .attr('cy', function(d) {
          return y(d.q4LifeExpectancy);
        })
        .attr('r', function(d) {
          return r(d.count);
        });

        layer.exit()
            .remove()
    }

    var getClassName = function(d) {
      return (d.county + '-' + d.gender + '-' + d.state).replace(' ', '_').replace("'", '_');
    }

    var drawDistanceLine = function(d) {
      var position = d.q1LifeExpectancy;
      var text;

      g.append('line')
        .attr('class', 'le-distance le-distance-line')
        .attr('x1', x(d.q1LifeExpectancy))
        .attr('y1', y(d.q4LifeExpectancy))
        .attr('x2', x(position))
        .attr('y2', y(position))
        .style('stroke', Colors.BLACK)
        .style('stroke-dasharray', '5, 5')

      if (d.q4LifeExpectancy > d.q1LifeExpectancy) {
        text = (
            'Top quartile income earners in <b>' + d.county + ', ' + d.state + '</b> live on average <b>' +
            (d.q4LifeExpectancy - d.q1LifeExpectancy).toFixed(2) +
            ' years</b> longer than bottom quartile income earners'
        )
      } else {
        text = (
            'Bottom quartile income earners in <b>' + d.county + ', ' + d.state + '</b> live on average <b>' +
            (d.q1LifeExpectancy - d.q4LifeExpectancy).toFixed(2) +
            ' years</b> longer than top quartile income earners'
        )
      }
      $('#distance-info').html(text)
    }

    var transform = function(data) {
      var transformed = []

      _.each(data, function(d) {
        transformed.push({
          q1LifeExpectancy: +d.le_raceadj_q1_F,
          q4LifeExpectancy: +d.le_raceadj_q4_F,
          gender: 'F',
          count: +d.count_q1_F + +d.count_q4_F,
          county: d.county_name,
          fips: d.cty,
          state: d.statename,
        });
        transformed.push({
          q1LifeExpectancy: +d.le_raceadj_q1_M,
          q4LifeExpectancy: +d.le_raceadj_q4_M,
          count: +d.count_q1_M + +d.count_q4_M,
          gender: 'M',
          county: d.county_name,
          fips: d.cty,
          state: d.statename,
        });
      });
      return transformed;
    }

    d3.queue()
      .defer(d3.csv, '/data/life/life_expectancy.csv')
      .defer(d3.csv, '/data/life/2016_election.csv')
      .await(render);

  $('#color-by').on('change', function(e) {
    colorBy = $(this).val()
    update(transformed);
  })

});
</script>

