<div id="geo-coverage"></div>
<br />
<div id="geo-area"></div>
<div>
  <small><a href="http://en.wikipedia.org/wiki/List_of_official_languages">Data source official languages</a></small>
  <div></div>
  <small><a href="http://data.worldbank.org/indicator/AG.LND.TOTL.K2">Data source land area</a></small>
</div>
<br />
<script>
  var languageCounts = {
    mandarin: ['SG', 'TW', 'CN'],
    spanish: ['MX', 'ES', 'CO', 'AR', 'PE', 'VE', 'CL',
             'EC', 'GT', 'CU', 'BO', 'DO', 'HN', 'PY',
             'SV', 'NI', 'CR', 'PR', 'PA', 'UY', 'GQ'],
    english: ['AG', 'BS', 'BB', 'BZ', 'BW', 'CM', 'CA', 'CK', 'DM', 'ER', 'FJ', 'GM',
    'GH', 'GD', 'GY', 'IN', 'IE', 'JM', 'KE', 'KI', 'LS', 'LR', 'MW', 'MT',
    'MH', 'MR', 'FM', 'NA', 'NR', 'NZ', 'NG', 'NU', 'PK', 'PW', 'PG', 'PH',
    'RW', 'KN', 'WS', 'LC', 'VC', 'SC', 'SL', 'SG', 'SB', 'ZA', 'SS', 'SD',
    'SZ', 'TZ', 'TO', 'TT', 'TV', 'UG', 'VU', 'ZM', 'ZW', 'US', 'GB', 'AU'],
    arabic: ['DZ', 'BH', 'EG', 'DJ', 'ER', 'IQ', 'IL',
             'JO', 'KW', 'LB', 'LY', 'MR', 'MA', 'OM',
             'QA', 'SA', 'SO', 'SS', 'SD', 'SY', 'TN', 'AE', 'YE'],
    hindi: ['IN'],
    portuguese: ['AO', 'BR', 'CV', 'TL', 'GQ', 'GW', 'MO', 'MZ', 'PT', 'ST'],
    bengali: ['BD', 'IN'],
    russian: ['RU', 'BY', 'KZ', 'KG', 'TJ'],
    japanese: ['JP'],
    punjabi: ['IN']
  }

  $(document).ready(function() {

    $.get('/javascripts/vendor/areas.json').done(function(areas) {
      var areaOpts = {
        library: {
          title: { text: 'Total area of countries in kilometers squared' },
          yAxis: [{ title: { text: "Area (kilometers squared)" }}],
          height: 500
        },
        colors: ['#87248e']
      }

      var areaData = []
      var sum = 0;
      for (key in languageCounts) {
        if (languageCounts.hasOwnProperty(key)) {
          var iso2s = languageCounts[key];
          var area = _.reduce(iso2s, function(area, iso2) {
            var c = _.find(areas, function(area) { return area.iso2 === iso2 })
            if (!c) return area;
            return area + c.areakm2;
          }, 0)

          areaData.push([key, area])
        }
      }
      new Chartkick.ColumnChart("geo-area", areaData, areaOpts);

    });


    $("#geo-coverage").highcharts('Map', {

      title: {
          text: 'Official languages around the world'
      },

      legend: {
          layout: 'vertical',
          align: 'left',
          verticalAlign: 'bottom'
      },

      plotOptions: {
        map: {
          nullColor: 'rgba(0,0,0,0)',
          joinBy: ['iso-a2', 'code'],
          mapData: Highcharts.maps['custom/world']
        }
      },

      series: [
        {
          name: 'Mandarin',
          data: $.map(languageCounts.mandarin, function(code) { return { code: code }; }),
          color: '#3366cc'
        }, {
          name: 'Spanish',
          data: $.map(languageCounts.spanish, function (code) { return { code: code }; }),
          color: '#dc3912'
        }, {
          name: 'English',
          data: $.map(languageCounts.english, function (code) { return { code: code }; }),
          color: '#ff9900'
        }, {
          name: 'Hindi',
          data: $.map(languageCounts.hindi, function (code) { return { code: code }; }),
          color: '#990099'
        }, {
          name: 'Arabic',
          data: $.map(languageCounts.arabic, function (code) { return { code: code }; }),
          color: '#109618',
        }, {
          name: 'Portuguese',
          data: $.map(languageCounts.portuguese, function (code) { return { code: code }; }),
          color: '#0099c6',
        }, {
          name: 'Bengali',
          data: $.map(languageCounts.bengali, function (code) { return { code: code }; }),
          color: '#dd4477',
        }, {
          name: 'Russian',
          data: $.map(languageCounts.russian, function (code) { return { code: code }; }),
          color: '#66aa00',
        }, {
          name: 'Japanese',
          data: $.map(languageCounts.japanese, function (code) { return { code: code }; }),
          color: '#b82e2e',
        }, {
          name: 'Punjabi',
          data: $.map(languageCounts.punjabi, function (code) { return { code: code }; }),
          color: '#316395',
        }
      ]
    });
  });

</script>

