<table class="responsive">
  <thead>
    <tr>
      <td>
        Indicator
      </td>
      <td>
        Uses an alphabet
      </td>
      <td>
        Latin Writing System
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        English
      </td>
      <td data-yes="true">
        Yes
      </td>
      <td data-yes="true">
        Yes
      </td>
    </tr>
    <tr>
      <td>
        Mandarin
      </td>
      <td data-yes="false">
        No
      </td>
      <td data-yes="false">
        No
      </td>
    </tr>
    <tr>
      <td>
        Spanish
      </td>
      <td data-yes="true">
        Yes
      </td>
      <td data-yes="true">
        Yes
      </td>
    </tr>
    <tr>
      <td>
        Hindi
      </td>
      <td data-yes="true">
        Yes
      </td>
      <td data-yes="false">
        No
      </td>
    </tr>
    <tr>
      <td>
        Arabic
      </td>
      <td data-yes="true">
        Yes
      </td>
      <td data-yes="false">
        No
      </td>
    </tr>
    <tr>
      <td>
        Portuguese
      </td>
      <td data-yes="true">
        Yes
      </td>
      <td data-yes="true">
        Yes
      </td>
    </tr>
    <tr>
      <td>
        Bengali
      </td>
      <td data-yes="true">
        Yes
      </td>
      <td data-yes="false">
        No
      </td>
    </tr>
    <tr>
      <td>
        Russian
      </td>
      <td data-yes="true">
        Yes
      </td>
      <td data-yes="false">
        No
      </td>
    </tr>
    <tr>
      <td>
        Japanese
      </td>
      <td data-yes="false">
        No
      </td>
      <td data-yes="false">
        No
      </td>
    </tr>
    <tr>
      <td>
        Punjabi
      </td>
      <td data-yes="true">
        Yes
      </td>
      <td data-yes="false">
        No
      </td>
    </tr>
  </tbody>
</table>
<div id="yes-no-indicators"></div>
<script>
  $(document).ready(function() {
    var yesNoOpts = {
      library: {
        title: 'Ability to learn indicators',
        vAxis: { title: "Number of yes indicators" },
        height: 300
      },
    }
    var yesNoData = [
      ['Mandarin', 0],
      ['Spanish', 2],
      ['English', 2],
      ['Hindi', 1],
      ['Arabic', 1],
      ['Portuguese', 2],
      ['Bengali', 1],
      ['Russian', 1],
      ['Japanese', 0],
      ['Punjabi', 1],
    ]

    new Chartkick.ColumnChart("yes-no-indicators", yesNoData, yesNoOpts);
  });

</script>
