<div id="spoken-languages"></div>
<script>
  $(document).ready(function() {

    var spokenOpts = {
      library: {
        title: { text: 'Top 10 languages spoken' },
        yAxis: [{ title: { text: "Native speakers by millions" }}],
      },
      height: 500,
      colors: ['#87248e']
    }
    var spokenData = [
      ['Mandarin', 955],
      ['Spanish', 470],
      ['English', 360],
      ['Hindi', 310],
      ['Arabic', 295],
      ['Portuguese', 215],
      ['Bengali', 205],
      ['Russian', 155],
      ['Japanese', 125],
      ['Punjabi', 102],
    ]

    new Chartkick.ColumnChart("spoken-languages", spokenData, spokenOpts);
  });

</script>
