<div id="online-presence" style="height: 600px"></div>
<div id="online-presence-without" style="height: 600px"></div>
<script>
  $(document).ready(function() {

    onlineData = [
      {
      "name":"Mandarin",
      "data": {
          "2014-03-12 00:00:00 -0800": 3.3,
          "2013-04-26 00:00:00 -0800": 4.4,
          "2011-12-30 00:00:00 -0800": 4.5,
        }
      },
      {
      "name":"Spanish",
      "data": {
          "2014-03-12 00:00:00 -0800": 4.6,
          "2013-04-26 00:00:00 -0800": 4.8,
          "2011-12-30 00:00:00 -0800": 4.6,
        }
      },
      {
      "name":"English",
      "data": {
          "2014-03-12 00:00:00 -0800": 55.7,
          "2013-04-26 00:00:00 -0800": 54.9,
          "2011-12-30 00:00:00 -0800": 56.6,
        }
      },
      {
      "name":"Arabic",
      "data": {
          "2014-03-12 00:00:00 -0800": .8,
          "2013-04-26 00:00:00 -0800": 3,
          "2011-12-30 00:00:00 -0800": 1.3,
        }
      },
      {
      "name":"Hindi",
      "data": {
          "2014-03-12 00:00:00 -0800": 0.1,
          "2013-04-26 00:00:00 -0800": 0.1,
          "2011-12-30 00:00:00 -0800": 0.1,
        }
      },
      {
      "name":"Portuguese",
      "data": {
          "2014-03-12 00:00:00 -0800": 2.3,
          "2013-04-26 00:00:00 -0800": 2.3,
          "2011-12-30 00:00:00 -0800": 2,
        }
      },
      {
      "name":"Bengali",
      "data": {
          "2014-03-12 00:00:00 -0800": 0.1,
          "2013-04-26 00:00:00 -0800": 0.1,
          "2011-12-30 00:00:00 -0800": 0.1,
        }
      },
      {
      "name":"Russian",
      "data": {
          "2014-03-12 00:00:00 -0800": 6,
          "2013-04-26 00:00:00 -0800": 6.1,
          "2011-12-30 00:00:00 -0800": 4.8,
        }
      },
      {
      "name":"Japanese",
      "data": {
          "2014-03-12 00:00:00 -0800": 5,
          "2013-04-26 00:00:00 -0800": 4.2,
          "2011-12-30 00:00:00 -0800": 4.7,
        }
      },
      {
      "name":"Punjabi",
      "data": {
          "2014-03-12 00:00:00 -0800": 0.1,
          "2013-04-26 00:00:00 -0800": 0.1,
          "2011-12-30 00:00:00 -0800": 0.1,
        }
      },
    ];
    new Chartkick.LineChart("online-presence", onlineData, { adapter: 'google', min: 0, max: 100 });

    // Without english
    onlineData2 = onlineData.slice(0, 2).concat(onlineData.slice(3));
    new Chartkick.LineChart("online-presence-without", onlineData2, {adapter: 'google',  min: 0});
  });

</script>
