<input type="text" class="query" placeholder="Search for a Senator"/>
<div id="members" class="full-screen"></div>
<script>
  $(document).ready(function() {
    var width = $('#members').width(),
        bandHeight = 40;

    var margin = {
      left: 100,
      right: 50,
      top: 50,
      bottom: 100
    }

    var duration = 500;

    var cometHeight = 2;

    var g = d3.select("#members").append("svg")
      .attr("width", width)
      .attr("height", (bandHeight * 50) + margin.top + margin.bottom)
      .append('g')
        .attr('transform', 'translate(' + margin.left + ', ' + margin.top + ')');

    // VM = Votes Missing
    //var gVM = d3.select("#members-votes-missed").append("svg")
    //  .attr("width", width)
    //  .attr("height", bandHeight * 50)
    //  .append('g')
    //    .attr('transform', 'translate(' + margin.left + ', ' + margin.top + ')');

    width -= (margin.left + margin.right);

    var compCongress = 112;

    d3.csv('/data/us_sen_members.csv', function(err, members) {
      //members = _.filter(members, function(d) { return d.state === 'WV' });
      var y = d3.scale.ordinal()

      var x = d3.scale.ordinal()
        .domain(_.chain(members).pluck('congress').uniq().value())
        .rangePoints([0, width])

      var fixedX = d3.scale.linear()
        .domain(d3.extent(_.chain(members).pluck('congress').uniq().value(), function(d) {
          return +d;
        }))
        .range([0, $('.entry-content p ').innerWidth()])

      var xVM = d3.scale.ordinal()
        .domain(_.times(13, function(d) { return d + 101 }))
        .rangePoints([0, width])

      var yVM = d3.scale.linear()
        .domain([0, 100])
        .range([500, 0]);

      var yAxis = d3.svg.axis()
        .scale(y)
        .orient('left')

      var yVMAxis = d3.svg.axis()
        .scale(yVM)
        .orient('left')

      var xAxis = d3.svg.axis()
        .scale(x)
        .orient('top')

      var xVMAxis = d3.svg.axis()
        .scale(xVM)
        .orient('bottom')

      var path = d3.svg.line()
        .x(function(d) { return xVM(d.congress); })
        .y(function(d) {
          return yVM(d.value);
        });
      var query = '';


      $.subscribe('change.compCongress', function(e, congress) {
        compCongress = congress;
        renderStreaks();
      });
      $.subscribe('change.query', function(e, _query) {
        query = _query;
        renderStreaks();
      });

      // Streaks axis
      g.append('g')
        .attr('class', 'y axis')
        .attr('transform', 'translate(0,0)')


      var xAxisEl = g.append('g')
        .attr('class', 'x axis')
        .attr('transform', 'translate(0,0)')
      xAxisEl.append('text')
          .attr('y', 0)
          .attr('transform', 'translate(0,-38)')
          .attr('text-anchor', 'start')
          .text(function(d) {
            return 'Congressional Sessions (1947 - 2013)';
          })
      xAxisEl.append('text')
          .attr('y', 0)
          .attr('transform', 'translate(' + width + ',-38)')
          .attr('text-anchor', 'end')
          .text(function(d) {
            return '*Overlaps are due to special elections';
          })



      g.select('.x.axis')
        .transition()
        .duration(duration)
        .call(xAxis);

      var data = flattenStreaks(members);
      var missVotesData =  computeMissedVotesData(members);
      var nTop = 15;

      $('.i-streak').each(function(i, ele) {
        var name = $(ele).data().name
        var d = _.find(data, function(d) {
          return name === (d.first_name + ' ' + d.last_name).toLowerCase()
        })

        var svg = d3.select(ele);
        svg.append('path')
          .attr('class', 'streak ' + d.party)
          .attr('transform', 'translate(0, 10)')
          .call(renderComet, fixedX(d.end) - fixedX(d.start));

      });
      var legend = d3.select('.legend-streak')
      legend.append('path')
        .attr('class', 'streak')
        .attr('transform', 'translate(0, 5)')
        .call(renderComet, 40)


      var queryFilter = function(state) {
        var streaks = _.where(data, { state: state });
        if (!query) return true;

        return _.any(streaks, function(s) {
          var name = s.first_name.toLowerCase() + ' ' + s.last_name.toLowerCase()
          return name.indexOf(query.toLowerCase()) !== -1;
        });

      }


      function renderStreaks() {

        y.domain(_.chain(members).pluck('state').uniq().filter(queryFilter).value().sort())
        y.rangeBands([0, bandHeight * y.domain().length])

        var cmp = function(a, b) {
          var aStreaks = _.where(data, { state: a });
          var bStreaks = _.where(data, { state: b });

          var aStreaksFiltered = findStreaks(aStreaks, compCongress) || [];
          var bStreaksFiltered = findStreaks(bStreaks, compCongress) || [];

          var maxA = d3.max(aStreaksFiltered, function(d) { return streakLength(d, compCongress) })

          var maxB =  d3.max(bStreaksFiltered, function(d) { return streakLength(d, compCongress) })

          return maxB - maxA

        }

        g.select('.y.axis')
          .transition()
          .duration(duration)
          .call(yAxis)
          .selectAll('text')
            .text(function(d) { return states[d]; });

        //g.selectAll('.x.axis text').on('click', function(d) {
        //  $.publish('change.compCongress', [d])
        //});

        var filtered = _.filter(data, function(d) {
            return _.indexOf(y.domain(), d.state) !== -1
          });


        var streaks = g.selectAll('.streak').data(filtered);
        streaks.enter().append('path');
        streaks.attr('class', function(d) {
            var classList = 'streak ' + d.party
            var name = d.first_name.toLowerCase() + ' ' + d.last_name.toLowerCase()
            if (query && name.indexOf(query.toLowerCase()) !== -1)
              classList += ' queried'
            return classList;
          })
          .attr('original-title', function(d) {
            var html = '<h1>' + d.first_name + ' ' + d.last_name + ' (' + d.party + ')' + '</h1>' +
              '<h2>Streak length: ' + ((d.end - d.start) + 1) + ' sessions </h2>' +
              '<p>Sessions: ' + d.start + ' - ' + d.end + '</p>';

            return html;

          })
          .transition()
          .duration(500)
          .attr("transform", function(d) {
              var yTranslate = y(d.state) + y.rangeBand() / 2;
              var decimal = .25
              if (d.isTop) {
                yTranslate -= (decimal * y.rangeBand())
              } else {
                yTranslate += (decimal * y.rangeBand())
              }

              return "translate(" + x(d.start) + ", " + yTranslate + ")"
            })
          .call(renderComet, function(d) { return x(d.end) - x(d.start); })
        streaks.on('click', function(d) { console.log(d) });
        streaks.exit().remove()

        var sorted = _.sortBy(data, function(d) { return -streakLength(d) }).slice(0, nTop);

        var specialLabels = g.selectAll('.special-label').data(y.domain())
        specialLabels.enter().append('text');
        specialLabels.attr('class', 'special-label')
          .transition()
          .duration(duration)
          .filter(function(d) { return d == 'HI' || d == 'AK' })
          .attr('dy', '0em')
          .attr('x', 20)
          .attr('y', function(d) {
            return y(d) + y.rangeBand() - 2;
          })
          .text(function(d) {
            return states[d] + ' joins the United States';
          })
        specialLabels.exit().remove()


        var labels = g.selectAll('.label').data(_.filter(sorted, function(d) {
            return _.indexOf(y.domain(), d.state) !== -1
          }));
        labels.enter().append('text');
        labels.attr('class', 'label')
          .transition()
          .duration(duration)
          .attr('dy', '1em')
          .attr('x', function(d) { return x(d.start) })
          .attr('y', function(d) {
              var yTranslate = y(d.state);
              if (!d.isTop) {
                yTranslate += (1 * y.rangeBand() / 2)
              }
              return yTranslate;
            })
          .text(function(d) {
            return d.first_name + ' ' + d.last_name;
          })

        labels.exit().remove()

        var separators = g.selectAll('.separator').data(y.domain())
        separators.enter().append('line');
        separators.attr('class', 'separator')
          .transition()
          .duration(500)
          .attr('x1', function(d) { return 0 })
          .attr('x2', function(d) { return width })
          .attr('y1', function(d) { return y(d) + y.rangeBand() })
          .attr('y2', function(d) { return y(d) + y.rangeBand() });

        separators.exit().remove()

        $('.streak').tipsy({
          gravity: 's',
          html: true
        });

      }

      renderStreaks();

      //var lines = gVM.selectAll('.member-line').data(missVotesData);
      //lines.enter().append('path');
      //lines.attr('class', function(d) { return 'member-line ' + d.party })
      //  .attr('d', function(d) {
      //    return path(d.values)
      //  })


    })

    function renderComet(path, width) {
      path.attr("d", function() {
        var w = Math.max(1, (typeof width === "function" ? width.apply(this, arguments) : width) - .5),
            m = w / 10,
            ab = w - Math.sqrt(w) * .6,
            ae = w,
            offset = cometHeight / 2,
            t = Math.max(offset, Math.sqrt(w / 26) * 3);
        return  "M0," + -offset +
                "L0," + offset +
                "Q" + ae + "," + offset + "," + ab + "," + t +
                "L" + ae + "," + 0 +
                "L" + ab + "," + -t +
                "Q" + ab + "," + -offset + "," + m + "," + -offset +
                "z";
      });
    }

    function computeMissedVotesData(members) {
      var congresses,
          parties,
          partyMembers,
          congressMembers;

      var data = {
        R: { party: 'R', values: [] },
        D: { party: 'D', values: [] }
      }

      congresses = _.groupBy(members, 'congress');

      for (var c in congresses) {
        if (c < 101) {
          continue
        }
        congressMembers = congresses[c];

        parties = _.groupBy(congressMembers, 'party');

        for (var p in parties) {
          if (data[p]) {
            median = d3.median(parties[p], function(d) { return d.votes_with_party_pct; });
            data[p].values.push({
              value: median,
              party: p,
              congress: c
            });

          }
        }
      }

      return _.values(data);

    }

    function flattenStreaks(members) {
      var streaksByState = _.groupBy(members, 'state');
      var streaks = [];
      var stateMembers,
          group,
          streak,
          sorted,
          prevStreak,
          stateStreaks = [],
          statememberGroups;

      for (var state in streaksByState) {
        stateMembers = streaksByState[state]

        stateMemberGroups = _.groupBy(stateMembers, 'id');

        stateStreaks = [];
        for (var id in stateMemberGroups) {
          group = stateMemberGroups[id];
          sorted = _.sortBy(group, function(d) { return +d.congress })

          _.each(sorted, function(d, i, list) {
            prevStreak = stateStreaks[stateStreaks.length - 1]
            continueStreak = prevStreak && +prevStreak.end === +d.congress - 1 && prevStreak.id === d.id

            // Previous streak is finished, check for conflict or we're on the last one
            if (prevStreak && (!continueStreak || i === list.length - 1)) {
              if (streakConflict(stateStreaks, prevStreak)) {
                prevStreak.isTop = !prevStreak.isTop
              }
            }

            if (continueStreak) {
              prevStreak.end = +d.congress;
              prevStreak.values.push({
                congress: +d.congress,
                missed_votes_pct: +d.missed_votes_pct,
                votes_with_party_pct: +d.votes_with_party_pct,
              });
            } else {


              streak = {
                isTop: true,
                congress: +d.congress,
                start: +d.congress,
                end: +d.congress,
                values: [
                  {
                    congress: +d.congress,
                    missed_votes_pct: +d.missed_votes_pct,
                    votes_with_party_pct: +d.votes_with_party_pct,
                  }
                ],
                first_name: d.first_name,
                id: d.id,
                last_name: d.last_name,
                party: d.party,
                state: d.state
              }

              stateStreaks.push(streak);
            }


          });
          //console.log(streak);

        }
        streaks = streaks.concat(stateStreaks);

      }

      return streaks;

    }

    function findStreaks(streaks, congress) {
      return _.filter(streaks, function(streak) {
        return congress >= streak.start && congress <= streak.end
      });
    }

    function streakLength(streak, congress) {
      if (congress >= streak.start && congress <= streak.end)
        return congress - streak.start;
      else if (!congress) {
        return streak.end - streak.start;
      }

      return 0
    }

    function streakConflict(streaks, streak) {
      if (streak.id === "R000167")
        console.log('here');

      return !_.every(streaks, function(other) {


        if (other.id !== streak.id && other.isTop === streak.isTop) {
          if (streak.start < other.end && streak.start >= other.start) {
            return false;
          } else if (streak.end <= other.end && streak.end > other.start) {
            return false;

          }
        }

        return true

      })

    }

    $('.query').on('keyup', function(e) {
      var val = $(e.currentTarget).val()
      $.publish('change.query', [val]);

    });
  })

  var states = {
    'AL': 'Alabama',
    'AK': 'Alaska',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VA': 'Virginia',
    'WA': 'Washington',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming',
  };
</script>
