<figure class="full-screen" id="ca-arrest-ratio-by-location-bar" style="height: 300px"></figure>
<figure class="full-screen" id="ca-arrest-ratio-by-location-bar-ratio" style="height: 300px"></figure>

<script>
  $(document).ready(function() {
    d3.csv('/data/chicago/arrest_ratio_all_years_location.csv', function(err, raw) {
      var data = _.chain(raw)
        .map(function(d) { return [d['Location Description'], +d.ratio] })
        .value();

      var totals = _.chain(raw)
        .map(function(d) { return [d['Location Description'], +d.total] })
        .value();

      var arrested = _.chain(raw)
        .map(function(d) { return [d['Location Description'], +d.arrested] })
        .value();


      var opts = {
        adapter: 'google',
        library: {
          lineWidth: 2,
          bar: {groupWidth: "30%"},
          title: 'Criminal sexual assault arrest ratio by location (2001 - 2014)',
          fontName: 'Lato',
        },
        colors: ['#0a0a0a']
      }

      new Chartkick.ColumnChart(
          "ca-arrest-ratio-by-location-bar-ratio",
          [{ name: 'Arrest ratio', data: data }],
          $.extend(true, {}, opts)
      );

      opts.library.title = "Criminal sexual assault reports and arrests (2001 - 2014)";
      opts.colors = ['#377eb8', '#e41a1c'];
      new Chartkick.ColumnChart(
          "ca-arrest-ratio-by-location-bar",
          [{ name: 'Total reports', data: totals }, { name: 'Number arrested', data: arrested }],
          $.extend(true, {}, opts)
      );
    });
  });

</script>

