<figure class="full-screen" id="ca-arrest-ratio-bar" style="height: 300px"></figure>

<script>
  $(document).ready(function() {
    d3.csv('/data/arrest_ratio_all_years.csv', function(err, raw) {
      var highlight = ['CRIM SEXUAL ASSAULT'];

      var data = _.chain(raw)
        .map(function(d) { return [d['Primary Type'], +d.ratio] })
        .filter(function(d) { return !_.include(highlight, d[0]) }).value();
      var highlightData = _.chain(raw)
        .map(function(d) { return [d['Primary Type'], +d.ratio] })
        .filter(function(d) { return _.include(highlight, d[0]) }).value();

      var opts = {
        adapter: 'google',
        library: {
          lineWidth: 2,
          legend: { position: "none" },
          bar: {groupWidth: "30%"},
          title: 'Arrest Ratio by Crime (2001 - present)',
          fontName: 'Lato',
        },
      }

      var series = [{
        name: 'Regular',
        data: data

        }, {
        name: 'Highlight',
        data: highlightData

        }
      ]


      new Chartkick.ColumnChart("ca-arrest-ratio-bar", series, $.extend(true, {}, opts));
    });

  })

</script>
