<figure class="full-screen" id="ca-arrest-ratio-bar" style="height: 300px"></figure>

<script>
  $(document).ready(function() {
    d3.csv('/data/chicago/arrest_ratio_all_years.csv', function(err, raw) {
      var highlight = ['CRIM SEXUAL ASSAULT'];

      var highlightData = _.chain(raw)
        .map(function(d) { return [d['Primary Type'], +d.ratio] })
        .filter(function(d) { return _.include(highlight, d[0]) }).value();
      var highlightDatum = highlightData[0];

      var beforeData = _.chain(raw)
        .map(function(d) { return [d['Primary Type'], +d.ratio] })
        .filter(function(d) { return !_.include(highlight, d[0]) && highlightDatum[1] < d[1] }).value();
      var afterData = _.chain(raw)
        .map(function(d) { return [d['Primary Type'], +d.ratio] })
        .filter(function(d) { return !_.include(highlight, d[0]) && highlightDatum[1] > d[1] }).value();

      var opts = {
        adapter: 'google',
        library: {
          lineWidth: 2,
          legend: { position: "none" },
          bar: {groupWidth: "30%"},
          title: 'Arrest Ratio by Crime (2001 - present)',
          fontName: 'Lato',
        },
        colors: ['blue', 'red', 'blue']
      }

      var series = [{
        name: 'Before',
        data: beforeData

        }, {
        name: 'Highlight',
        data: highlightData

        }, {
        name: 'After',
        data: afterData,
        }
      ]


      new Chartkick.ColumnChart("ca-arrest-ratio-bar", series, $.extend(true, {}, opts));
    });

  })

</script>
