<figure class="full-screen" id="ca-arrest-ratio-bar" style="height: 350px"></figure>

<script>
  $(document).ready(function() {
    d3.csv('/data/chicago/arrest_ratio_all_years.csv', function(err, raw) {
      var highlight = ['CRIM SEXUAL ASSAULT'.toTitleCase()];

      var highlightData = _.chain(raw)
        .map(function(d) { return [d['Primary Type'].toTitleCase(), +(+d.ratio * 100).toFixed(2)] })
        .filter(function(d) { return _.include(highlight, d[0]) }).value();
      var highlightDatum = highlightData[0];

      var beforeData = _.chain(raw)
        .map(function(d) { return [d['Primary Type'].toTitleCase(), +(+d.ratio * 100).toFixed(2)] })
        .filter(function(d) { return !_.include(highlight, d[0]) && highlightDatum[1] < d[1] }).value();
      var afterData = _.chain(raw)
        .map(function(d) { return [d['Primary Type'].toTitleCase(), +(+d.ratio * 100).toFixed(2)] })
        .filter(function(d) { return !_.include(highlight, d[0]) && highlightDatum[1] > d[1] }).value();

      var opts = {
        adapter: 'google',
        library: {
          legend: { position: "none" },
          bar: {groupWidth: "25"},
          title: 'Arrest Rate by Crime (2001 - 2014)',
          fontName: 'Lato',
          vAxis: { title: 'Arrest Rate (%)' },
          hAxis: { title: 'Crime' },
        },
        colors: [Colors.BLACK, Colors.RED, Colors.BLACK]
      }

      var series = [{
        name: 'Arrest Rate',
        data: beforeData

        }, {
        name: 'Arrest Rate',
        data: highlightData

        }, {
        name: 'Arrest Rate',
        data: afterData,
        }
      ]


      new Chartkick.ColumnChart("ca-arrest-ratio-bar", series, $.extend(true, {}, opts));
    });

  })

</script>
