<figure class="full-screen" id="ca-arrest-ratio-by-location-bar" style="height: 300px"></figure>

<script>
  $(document).ready(function() {
    d3.csv('/data/arrest_ratio_all_years_location.csv', function(err, raw) {
      var data = _.chain(raw)
        .map(function(d) { return [d['Location Description'], +d.ratio] })
        .value();

      var opts = {
        adapter: 'google',
        library: {
          lineWidth: 2,
          legend: { position: "none" },
          bar: {groupWidth: "30%"},
          title: 'Criminal sexual assault arrest ratio by location (2001 - present)',
          fontName: 'Lato',
        },
      }

      new Chartkick.ColumnChart(
          "ca-arrest-ratio-by-location-bar",
          data,
          $.extend(true, {}, opts)
      );
    });
  });

</script>

