<div class="ca-map" id="ca-assaults-norm"></div>
<div class="ca-map" id="ca-assaults-ratio"></div>
<div class="ca-map" id="ca-income"></div>
<script>
  $(document).ready(function() {

    var width = ($(window).width() / 3) - 100,
        height = 350,
        fontSize = "16px",
        scale = 29000;

    var greens = d3.scaleQuantize()
        .domain([0, 1])
        .range(colorbrewer.Greens[9])
    var grays = d3.scaleQuantize()
        .domain([0, 1])
        .range(colorbrewer.Greys[9])
    var blues = d3.scaleQuantize()
        .domain([0, 1])
        .range(colorbrewer.BuPu[9])

    var svg = d3.select("#ca").append("svg")
      .attr("width", width)
      .attr("height", height);

    var assaultSvg = d3.select("#ca-assaults").append("svg")
      .attr("width", width)
      .attr("height", height);


    var assaultNormDiv = d3.select("#ca-assaults-norm")

    var assaultNormSvg = assaultNormDiv.append("svg")
      .attr("width", width)
      .attr("height", height);

    // Legend
    var legend = assaultNormDiv.append('ul')
        .attr('class', 'legend')

    var keys = legend.selectAll('li.key')
        .data(blues.range());

    keys.enter().append('li')
        .attr('class', 'key')
        .style('width', (100 * (1 / blues.range().length)) + '%')
        .style('border-top-color', String)
        .html(function(d, i) {
            if (i === 0) { return 'Less&nbsp;reports'; }
            else if (i === blues.range().length - 2) { return  'More&nbsp;reports'; }
            return '&nbsp;';
        });
    // End Legend

    assaultNormSvg.append("text")
        .attr("text-anchor", "middle")
        .attr("x", width / 2)
        .attr("y", 30)
        .attr("dy", "1em")
        .style("font-size", fontSize)
        .text("CSA reports per 100 residents")

    var assaultRatioDiv = d3.select("#ca-assaults-ratio")
    var assaultRatioSvg = assaultRatioDiv.append("svg")
      .attr("width", width)
      .attr("height", height);
    assaultRatioSvg.append("text")
        .attr("text-anchor", "middle")
        .attr("x", width / 2)
        .attr("y", 30)
        .attr("dy", fontSize)
        .style("font-size", "16px")
        .text("CSA arrests per 100 reports")

    // Legend
    var legend = assaultRatioDiv.append('ul')
        .attr('class', 'legend')

    var keys = legend.selectAll('li.key')
        .data(grays.range());

    keys.enter().append('li')
        .attr('class', 'key')
        .style('width', (100 * (1 / grays.range().length)) + '%')
        .style('border-top-color', String)
        .html(function(d, i) {
            if (i === 0) { return 'Less&nbsp;arrests'; }
            else if (i === grays.range().length - 2) { return  'More&nbsp;arrests'; }
            return '&nbsp;';
        });
    // End Legend

    var assaultIncomeDiv = d3.select("#ca-income")
    var assaultIncomeSvg = assaultIncomeDiv.append("svg")
      .attr("width", width)
      .attr("height", height);
    assaultIncomeSvg.append("text")
        .attr("text-anchor", "middle")
        .attr("x", width / 2)
        .attr("y", 30)
        .attr("dy", "1em")
        .style("font-size", fontSize)
        .text("Chicago income distribution (log scale)")

    // Legend
    var legend = assaultIncomeDiv.append('ul')
        .attr('class', 'legend')

    var keys = legend.selectAll('li.key')
        .data(greens.range());

    keys.enter().append('li')
        .attr('class', 'key')
        .style('width', (100 * (1 / greens.range().length)) + '%')
        .style('border-top-color', String)
        .html(function(d, i) {
            if (i === 0) { return 'Less&nbsp;income'; }
            else if (i === greens.range().length - 2) { return  'More&nbsp;income'; }
            return '&nbsp;';
        });
    // End Legend

    var start = d3.rgb('#fff')
    var end = d3.rgb('#000')
    var color = d3.interpolate(start, end)


    d3.json('/data/chicago/topo_ca.json', function(err, ca) {
      if (err) return console.error(err);

      var features = topojson.feature(ca, ca.objects.ca).features;

      var projection = d3.geoMercator()
        .scale(scale)
        .center([-87.8, 41.9])
        .translate([width / 2, height / 2]);

      var path = d3.geoPath()
        .projection(projection);

      var caSelection = svg.selectAll('.ca-blank').data(features);
      caSelection.enter().append("path");
      caSelection.attr('class', function(d) { return 'ca ca-blank' })
        .attr("d", path)


      // By ca map
      d3.csv('/data/chicago/assault_byca.csv', function(err, data) {
        if (err) return console.error(err);

        var i = d3.scaleLinear()
          .domain([0, d3.max(data, function(d) { return +d.count })])
          .range([0, 1])
        var normalized = d3.scaleLinear()
          .domain([0, d3.max(data, function(d) { return +d.count / +d.total })])
          .range([0, 1])
        var ratio = d3.scaleLinear()
          .domain([0, d3.max(data, function(d) { return +d.arrestRatio })])
          .range([0, 1])
        var income = d3.scaleLog()
          .domain(d3.extent(data, function(d) { return +d.perCapitaIncome }))
          .range([0, 1])

        caSelection = assaultNormSvg.selectAll('.ca-assaults-norm').data(features);
        caSelection.enter().append("path")
          .attr('class', function(d) { return 'ca ca-assaults-norm' })
          .attr("d", path)
          .attr("original-title", function(ca) {
            var d = _.find(data, function(d) { return d.ca === ca.properties.AREA_NUMBE })
            if (!d)
              return

            var value = (100 * (+d.count / +d.total))
            var html = '<h1><b>' + value.toFixed(1) + '</b> sexual assault reports per 100 residents</h1>';
            return html;

          })
          .style('fill', function(ca) {
            d = _.find(data, function(d) { return d.ca === ca.properties.AREA_NUMBE })

            if (!d)
              return

            return blues(normalized(+d.count / +d.total));
          })

        caSelection = assaultRatioSvg.selectAll('.ca-assaults-ratio').data(features);
        caSelection.enter().append("path")
          .attr('class', function(d) { return 'ca ca-assaults-ratio' })
          .attr("d", function(d) { 
              return path(d);
           })
          .attr("original-title", function(ca) {
            d = _.find(data, function(d) { return d.ca === ca.properties.AREA_NUMBE })
            if (!d)
              return

            var value = (100 * (+d.arrested / +d.count))
            var html = '<h1><b>' + value.toFixed(1) + '</b> arrests per 100 sexual assault reports</h1>';

            return html;

          })
          .style('fill', function(ca) {
            d = _.find(data, function(d) { return d.ca === ca.properties.AREA_NUMBE })
            if (!d)
              return

            return grays(ratio(+d.arrestRatio));
          })


        caSelection = assaultIncomeSvg.selectAll('.ca-income').data(features);
        caSelection.enter().append("path")
          .attr('class', function(d) { return 'ca ca-income' })
          .attr("d", path)
          .attr("original-title", function(ca) {
            d = _.find(data, function(d) { return d.ca === ca.properties.AREA_NUMBE })
            if (!d)
              return


              var html = '<h1><b>$' + Formats.COMMA(+d.perCapitaIncome) + '</b> per capita income</h1>';
            return html;
          })
          .style('fill', function(ca) {
            d = _.find(data, function(d) { return d.ca === ca.properties.AREA_NUMBE })
            if (!d)
              return

            return greens(income(+d.perCapitaIncome));
          })

          $('.ca').tipsy({
              html: true,
              gravity: 's'
          });


      });

    });


  });

</script>

