<div class="center">
    <table class="full-screen">
        <thead>
            <tr>
                <td><b>Assaults</b></td>
                <td><b>Reports</b></td>
                <td><b>Arrests</b></td>
                <td><b>Prosecutions</b></td>
                <td><b>Sentences</b></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>8,141</td>
                <td>1,792</td>
                <td>414</td>
                <td>Unknown</td>
                <td>Unknown</td>
            </tr>
        </tbody>
    </table>
</div>
