---
layout: default
title: A Data Blog by Ben Rudolph
description: "A data blog by Ben Rudolph. Posts about life's questions explored through data analysis"
categories: [blog, tech, data, visualization]
keywords: blog tech data visualization big data
image:
  feature: /images/sf.jpg
---

{% assign index = true %}
{% for post in paginator.posts %}
<article class="hentry">
  {% include article.html %}
</article><!-- /.hentry -->
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="btn">Previous</a>
    {% else %}
      <a href="{{ root_url }}{ paginator.previous_page }}" class="btn">Previous</a>
    {% endif %}
  {% endif %}
  <a href="{{ root_url }}/archives">Blog Archives</a>
  {% if paginator.next_page %}
    <a href="{{ root_url }}{{ paginator.next_page }}" class="btn">Next</a>
  {% endif %}
</div><!-- /.pagination -->
