// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

td[data-yes="true"] {
  background-color: #2ecc71;
}
td[data-yes="false"] {
  background-color: #e74c3c;
}

small {
  font-size: small;
}

.highcharts-container {
  path {
    stroke-width: .5px;
  }
}

.ward, .ca {
  fill: white;
  stroke: black;
  stroke-width: .5px;
}

svg {
  font: 10px sans-serif;
  padding: 10px;
}

.axis {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
}

.axis path {
  fill: none;
  stroke: #ddd;
}

.gone {
  display: none;
}

input {
  height: 28px;
  font-size: 12px;
  border: 1px solid #c8c8c8;
  background-color: #f0f0f0;
  border-radius: 4px;
  padding-left: 8px;
  padding-top: 5px;
  width: 180px;
  padding-bottom: 5px;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
input:focus {
  border: 1px solid #c8c8c8;
  outline: none;
  background-color: white;
}

#members, #members-votes-missed {
  .R.streak {
    fill: red;
  }

  .D.streak {
    fill: blue;
  }

  .separator {
    stroke: #ddd;
    stroke-dasharray: 1;
  }

  path.R {
    stroke: red;
    fill: none;
  }
  path.D {
    stroke: blue;
    fill: none;
  }


  .streak {
    fill: green;
    opacity: .3;
    stroke: black;
  }
  .streak.queried {
    opacity: .8;
  }

  .streak:hover {
    opacity: .8;
  }


}
