// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

td[data-yes="true"] {
  background-color: #2ecc71;
}
td[data-yes="false"] {
  background-color: #e74c3c;
}

small {
  font-size: small;
}

.highcharts-container {
  path {
    stroke-width: .5px;
  }
}

.ward, .ca {
  fill: white;
  stroke: black;
  stroke-width: .5px;
}
